.main {
  padding: 2rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__products {
  display: flex;
  flex-wrap: wrap;
}

.products__card {
  flex: 1 0 21%;
  margin: 5px;
  animation: entrance 7s ease 0s 1 normal forwards;
}

li {
  list-style: none;
}

/*Keyframes*/

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
