.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 22vw;
  min-height: 20rem;
  cursor: pointer;
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 13px -7px #ebebeb,
    9px 13px 31px -2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #ebebeb, 9px 13px 31px -2px rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
  animation: entrance 3s ease 0s 1 normal forwards;
}

.container:hover {
  transform: scale(1.1);
}

.container img {
  width: 10rem;
}

.container__brand {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 0.7rem;
}
.container__price {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(84, 180, 225);
}

.soldout {
  color: red;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/*Keyframes*/

@keyframes entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
