.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(254, 248, 202);
  padding: 2rem 0;
  background-color: rgb(254, 248, 202);
  margin-top: 2rem;
}
.logo {
  width: 9rem;
}
h4 {
  margin: 0.5rem 0;
}
.socialmedia {
  width: 37vw;
  margin: 2.3rem 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.socialmedia img {
  width: 2rem;
}
