.main {
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

form {
  margin-top: 5rem;
}

.main__container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 8rem;
  animation: card 2s ease 0s 1 normal forwards;
}

.imgage__product {
  width: 14rem;
}

.container__description {
  min-width: 35%;
}

.form__selects {
  width: 100%;
  display: flex;
}

.form__button,
.form__button__disabled {
  width: 100%;
  font-size: 1rem;
  padding: 1.2rem;
  background: rgb(84, 180, 225);
  color: white;
  border: initial;
  border-radius: 8px;
  border: 1px solid #3a3a3a;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
}

.form__button__disabled {
  background-color: #3a3a3a;
}

.form__button:hover {
  cursor: pointer;
  border-color: #3a3a3a;
  color: #3a3a3a;
  background: none;
}

/*Keyframes*/
@keyframes card {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
